.h3 {
    font-size: large;
    font-family: Georgia, 'Times New Roman', Times, serif
}

.h1 {
    font-size: medium;
    font-family: Georgia, 'Times New Roman', Times, serif
}

.p {
    font-size: small;
    font-style: oblique;
}