* {
    box-sizing: border-box;
}

body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 20px;
    padding: 0;
}

h1 {
    margin-top: 0;
    font-size: 22px;
}

h2 {
    margin-top: 0;
    font-size: 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

h3 {
    margin-top: 0;
    font-size: 18px;
    color: blue;
}

h4 {
    margin-top: 0;
    font-size: 16px;
    color: coral;
}

h5 {
    margin-top: 0;
    font-size: 14px;
}

h6 {
    margin-top: 0;
    font-size: 12px;
}

code {
    font-size: 1.2em;
}

ul {
    padding-left: 20px;
}

* {
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    margin: 20px;
    padding: 50;
}

.square {
    background: #dddedb;
    border: 1px solid #090909;
    float: left;
    font-size: 24px;
    font-weight: bold;
    line-height: 34px;
    height: 64px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    border-radius: 5%;
    text-align: center;
    width: 64px;

}

.board-row:after {
    clear: both;
    content: '';
    display: table;

}

.status {
    background: #dddedb;
    border: 1px solid #090909;

    font-size: 15px;
    font-weight: bold;
    line-height: 34px;
    height: 64px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    border-radius: 5%;
    text-align: center;
    width: 64px;

    margin-left: 400px;

}

.game {
    display: flex;
    flex-direction: row;
}

.game-info {
    margin-left: 20px;
}

.itemMC {
    margin-top: 20%;
    background-image: url('./itemMC.png');

}

.space {
    margin-bottom: 30px;
}

.button {
    background-color: cadetblue
}