#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {

  padding: 1.5em;
  border-style: double;
  border-color: black;
  background-color: coral;
}

.pintar {
  background-color: aquamarine;
}